{% load static %}
{% comment %} banner link {% endcomment %}
<div class="container">
  <video width="100%" autoplay muted loop>
      <source src="{% static 'videos/videoads1.mp4' %}" type="video/mp4">
  </video>        
  <div class="text-center mt-4 mb-4">
    <a href="#" class="text-dark fs-1 fw-bold" style="text-decoration: none">GIANNIS FREAK 6</a>
    <br/>
    <a href="#" class="text-dark fw-bold" style="text-decoration: none">Run 'em down in the Giannis Freak 6.</a>
    <br/>
    <br/>
    <a href="{% url 'store' %}" class="btn btn-dark ms-auto" id="tooltipButtonBanner">
      <i class="bi bi-basket2 fs-3 tooltip-icon-banner"></i>
      <p class="tooltip-text-banner mb-0">Shop</p>
    </a>
    <div class="custom-tooltip-banner" id="tooltipMessageBanner">SHOP</div>
  </div>
</div>
{% comment %} banner link {% endcomment %}

