{% load static %}

<div class="container">
    <div class="text-category-product d-flex align-items-center position-relative">
        <h2>Category Product</h2>
        <a href="{% url 'store' %}" class="btn btn-dark ms-auto" id="tooltipButton">
            <i class="bi bi-shop fs-4 tooltip-icon"></i>
            <p class="tooltip-text mb-0">See all</p>
        </a>
        <div class="custom-tooltip" id="tooltipMessage">STORE</div>
    </div>     
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for category in categories %}
            <div class="swiper-slide">
                <a href="{{ category.get_url }}">
                    <img src="{{ category.category_images.url }}" alt="">
                    <h3>{{ category.category_name }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- Navigation Buttons -->
        <div class="swiper-button-prev text-dark"></div>
        <div class="swiper-button-next text-dark"></div>
    </div>
</div>