{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="box-login">
    <div class="form-container-login">
      <h2 class="text-center mb-4">Login</h2>
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        
        <div class="input-row-login">
          <div class="input-group-login">
            <label for="email">Email</label>
            <input type="text" name="email" id="email"
                   class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                   value="{{ form.email.value|default_if_none:'' }}"
                   placeholder="{{ form.email.field.widget.attrs.placeholder }}">
            <!-- Hiển thị lỗi -->
            {% if form.email.errors %}
              <div class="error-text">{{ form.email.errors }}</div>
            {% endif %}
          </div>

        <div class="input-group-login">
          <label for="password">Password</label>
          <input type="password" name="password" id="password"
                 class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                 value="{{ form.password.value|default_if_none:'' }}"
                 placeholder="{{ form.password.field.widget.attrs.placeholder }}">
          <!-- Hiển thị lỗi -->
          {% if form.password.errors %}
            <div class="error-text">{{ form.password.errors }}</div>
          {% endif %}
        </div>

        {% include "includes/alerts.html" %}
        <div style="float: right">
          <button class="btn btn-dark" type="submit">Login</button>
        </div>

        <br /><br />
        <hr />
        <div>
          <p class="text-center">
           Haven't an account? <a href="{% url 'register' %}">Sign In</a>
          </p>
        </div>
    </div>
      </form>
    
  </div>
</div>

{% endblock content %}
