{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="box-login">
    <div class="form-container-login">
      <h2 class="text-center mb-4">Reset Password</h2>
      <form action="{% url 'resetPassword' %}" method="POST">
        {% csrf_token %}
        
        <div class="input-row-login">
            <div class="input-group-login">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"
                       class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                       placeholder="Enter Password">
                <!-- Hiển thị lỗi -->
                {% if form.password.errors %}
                  <div class="error-text">{{ form.password.errors }}</div>
                {% endif %}
              </div>

        <div class="input-group-login">
          <label for="confirm_password">Confirm Password</label>
          <input type="password" name="confirm_password" id="confirm_password"
                 class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}"
                 placeholder="Enter Confirm Password">
          <!-- Hiển thị lỗi -->
          {% if form.password.errors %}
            <div class="error-text">{{ form.password.errors }}</div>
          {% endif %}
        </div>

        {% include "includes/alerts.html" %}
        <div style="float: right">
          <button class="btn btn-dark" type="submit">Reset</button>
        </div>

        <br /><br />
        <hr />
        <div>
          <p class="text-center">
           Haven't an account? <a href="{% url 'register' %}">Sign In</a>
          </p>
        </div>
    </div>
      </form>
  </div>
</div>

{% endblock content %}
