.box-register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}
.form-container-register {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.input-group-register {
    margin-bottom: 15px;
}

.input-group-register label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group-register input, 
.input-group-register select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-row-register {
    display: flex;
    justify-content: space-between;
}

.input-row-register .input-group-register {
    width: 48%;
}
/* Thêm CSS cho viền màu đỏ khi có lỗi */
.error-text {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

/* Thêm viền đỏ cho các trường có lỗi */
.is-invalid {
    border-color: red;
  }
  
  