{% load static %}

<footer>
    <div class="container mt-4">
      <hr />
      <div class="footer-container">
        <div class="footer-list">
          <h4>Resources</h4>
          <ul>
            <li><a href="#">Find A Store</a></li>
            <li><a href="#">Become A Member</a></li>
            <li><a href="#">Send Us Feedback</a></li>
            <li><a href="#">Send Us Feedback</a></li>
            <!-- Thêm các list con khác -->
          </ul>
        </div>
        <div class="footer-list">
          <h4>Help</h4>
          <ul>
            <li><a href="#">Get Help</a></li>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Payment Options</a></li>
            <li><a href="#">Contact Us</a></li>
  
            <!-- Thêm các list con khác -->
          </ul>
        </div>
        <div class="footer-list">
          <h4>About Nike</h4>
          <ul>
            <li><a href="#">About Nike</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">Sustainability</a></li>
            <!-- Thêm các list con khác -->
          </ul>
        </div>
        <div class="footer-vietnam">
          <h4><i class="bi bi-globe-americas"></i> Vietnam</h4>
        </div>
      </div>
      <div class="container">
        <div class="folder d-flex fw-bold">
          <p class="me-4 mb-0">© 2024 Nike, Inc. All rights reserved</p>
          <a class="text-dark me-4" style="text-decoration: none" href="#"
            >Guides</a
          >
          <a class="text-dark me-4" style="text-decoration: none" href="#"
            >Tems of Sale</a
          >
          <a class="text-dark me-4" style="text-decoration: none" href="#"
            >Term of Use</a
          >
          <a class="text-dark me-4" style="text-decoration: none" href="#"
            >Nike Privacy Policy</a
          >
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
  </footer>
  