{% load static %}
{% comment %} slide for header {% endcomment %}
<div
id="carouselExampleControlsNoTouching"
class="carousel slide"
data-bs-touch="false"
data-bs-ride="carousel"
data-bs-interval="3000"
>
<div class="carousel-inner p-3" style="text-align: center">
  <div class="carousel-item active">
    <h5>New Styles On Sale: Up To 40% Off</h5>
    <a href="#" class="text-dark">Shop All Our New Markdowns</a>
  </div>
  <div class="carousel-item">
    <h5>Move, Shop, Customise & Calebrate With Us</h5>
    <a>No matter what you feel like doing today. It's better as a Member</a>
  </div>
  <div class="carousel-item">
    <h5>Free Standard Delivery & 30-Day Free Returns</h5>
    <a href="#" class="text-dark">Join Now</a>
    <a href="#" class="text-dark"> View Detail</a>
  </div>
</div>
</div>
  {% comment %} slide for header {% endcomment %}