{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container product-detail">
    <div class="row" style="justify-content: center;">
        <!-- Phần 1: Ảnh sản phẩm -->
        <div class="col-lg-2 col-12 product-info-container-img">
            <div class="product-info-scroll">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
                 <img class="mb-2" height="auto" width="100%" src="{% static 'images/img-shoes/shoes0.png' %}">
            </div>
        </div>
        <div class="col-lg-5 col-12 product-images">
            <img src="{{ single_product.product_images.url }}" alt="" class="img-fluid main-image">
        </div>

        <!-- Phần 2: Thông tin sản phẩm -->
        <div class="col-lg-5 col-12 product-info-container">
            <div class="product-info-scroll">
                <h2 class="product-name">{{ single_product.product_name }}</h2>
                <p><strong>Price:</strong> ${{ single_product.product_price }}</p>
                <p><strong>Description:</strong> {{ single_product.product_description }}</p>
                <p><strong>Made In:</strong> {{ single_product.product_made_in }}</p>
                <!-- Nút Add to Bag và Favourite -->
            <div class="product-actions">
                {% if single_product.product_stock <= 0 %}
                <h5 class="btn btn-danger">Out of stock</h5>
                {% else %}
                {% if in_cart %}
                <a href="#" class="btn btn-success btn-add-to-bag">Added to Bag</a>
                <a href="{% url 'cart' %}" class="btn btn-success btn-add-to-bag">View</a>
                {% else %}
                <a href="{% url 'add_cart' single_product.id %}" class="btn btn-dark btn-add-to-bag">Add to Bag</a>
                <button class="btn btn-outline-secondary btn-favourite">Favourite</button>
                {% endif %}
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

